.projects {
  padding: 100px;
  position: relative;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1);
  background: #011a32;
  /* margin-top: -280px; */
}

hr{
  width: 15%;
  color: #fff;
  background-color: #fff;
  margin: 0 auto;
}

.ghost-text {
  position: relative;
  font-size: 4rem;
  font-weight: 900;
  color: #d4d4d4;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  z-index: 1;
  text-align: center;
}

.ghost-text::before {
  content: attr(data-text);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  color: transparent;
  -webkit-text-stroke: 1px rgba(125, 125, 125, 0.224);
  
  transform: scale(1.25);
}

.glow-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 20px; 
  display: flex;
  padding: 2px;
  z-index: 0;
  height: 100%;
}

.glow-wrapper::before {
  content: '';
  position: absolute;
  width: 250%;
  height: 250%;
  top: -75%;
  left: -75%;
  background: conic-gradient(
    transparent, 
    #6366f1, 
    #a855f7, 
    transparent 30%
  );
  animation: rotate 4s linear infinite;
  z-index: -1;
  
}

.service-card {
  position: relative;
  z-index: 1;
  background: #011a32;
  border-radius: 18px; 
  border: none !important;
  width: 100%;
  padding: 2rem;
  transition: all 0.3s ease;
  backdrop-filter: blur(12px);
  color: white;
}

.glow-wrapper:hover .service-card {
  transform: translateY(1px);
}

.glow-wrapper:hover::before {
  animation-duration: 2s;
}

.icon-box {
  width: 60px;
  height: 60px;
  background: rgba(99, 102, 241, 0.2);
  border: 1px solid rgba(99, 102, 241, 0.4);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: #6366f1;
  margin-bottom: 1.5rem;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (min-width: 768px) {
  .ghost-text { font-size: 3rem; }
}