.projects{
    border-radius: 40px 40px 0 0;
    padding: 20px;
    position: relative;
    background: rgba(15, 23, 42, 0.116); 
    backdrop-filter: blur(22px);
    -webkit-backdrop-filter: blur(90px);
    border-top: 1px solid rgba(255, 255, 255, 0);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.1);
}

.stack-container {
  position: relative;
  height: 450px;
  max-width: 400px;
  margin: 50px auto;
}

.stacked-card {
  position: absolute;
  width: 100%;
  height: 350px;
  border-radius: 25px;
  padding: 30px;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.card-1 {
  z-index: 3;
  background: #1e293b;
  color: white;
  transform: translateY(0) scale(1);
  box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

.card-2 {
  z-index: 2;
  background: #334155;
  transform: translateY(-20px) scale(0.95);
  opacity: 0.8;
}

.card-3 {
  z-index: 1;
  background: #475569;
  transform: translateY(-40px) scale(0.9);
  opacity: 0.6;
}

.stack-container:hover .stacked-card {
  background: #ffffff !important; 
  color: #1e293b; 
  opacity: 1; 
  border: 1px solid rgba(0, 0, 0, 0.1); 
}

.stack-container:hover .badge {
  background-color: #1e293b;
  color: #ffffff;
}

.stack-container:hover .card-1 { transform: translateX(-500px) scale(1.02); }
.stack-container:hover .card-2 { transform: translateX(0px) scale(1); opacity: 1; }
.stack-container:hover .card-3 { transform: translateX(500px) scale(0.98); opacity: 1; }

@media (min-width: 992px) {
  .stack-container:hover .card-1 { 
    transform: translateX(-110%) rotate(-5deg) scale(1.02); 
  }
  .stack-container:hover .card-2 { 
    transform: translateX(0px) scale(1); 
    opacity: 1; 
  }
  .stack-container:hover .card-3 { 
    transform: translateX(110%) rotate(5deg) scale(0.98); 
    opacity: 1; 
  }
}

@media (max-width: 991px) {
  .stack-container:hover .card-1 { 
    transform: translateY(-40%) scale(1.02); 
  }
  .stack-container:hover .card-2 { 
    transform: translateY(0) scale(1); 
  }
  .stack-container:hover .card-3 { 
    transform: translateY(40%) scale(0.98); 
  }
}

/* --- REVERSE STACK LOGIC --- */

@media (min-width: 992px) {
  .stack-reverse:hover .card-1 { 
    transform: translateX(110%) rotate(5deg) scale(1.02); 
  }

  .stack-reverse:hover .card-3 { 
    transform: translateX(-110%) rotate(-5deg) scale(0.98); 
  }
}

@media (max-width: 991px) {
  .stack-reverse:hover .card-1 { 
    transform: translateY(40%) scale(1.02); 
  }
  .stack-reverse:hover .card-3 { 
    transform: translateY(-40%) scale(0.98); 
  }
}