:root {
  --bg-color: #f8f9fa;
  --accent: #007bff;
  --text-main: #212529;
  --text-muted: #6c757d;
  --consult-color: #007bff;
}

.portfolio-wrapper {
  background-color: var(--bg-color);
  overflow-x: hidden; 
}

.hero {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr 1fr;
}

.hero-content {
  order: 2; 
  text-align: center;
  padding: 0;
  max-width: 100%;
}

.hero-visual {
  order: 1; 
  width: 100%;
  height: 40vh; 
  position: relative;
  max-width: 100%;
}

.hero-visual img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.display-1{
  font-size: 7rem;
  font-weight: 700;
  color: var(--text-main);
}

.gradient-text {
  font-size: 4rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -1px;

  background: linear-gradient(
    to right, 
    #0d6efd, 
    #00ff88, 
    #003d7e, 
    #5a01ce
  );
  background-size: 300% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shimmer 5s linear infinite;
}

@keyframes shimmer {
  0% { background-position: 0% center; }
  100% { background-position: 300% center; }
}


/* --- BUTTONS --- */
.cta-actions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.cta-group {
  display: flex;
  gap: 10px;
}

.btn-consult {
  color: var(--consult-color);
  border: 2px solid var(--consult-color);
  background: transparent;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
  width: fit-content;
}

/* --- DESKTOP BREAKPOINT (Laptops/Mac) --- */
@media (min-width: 992px) {
  .hero {
    flex-direction: row;
    padding: 50px;
    gap: 0;
  }

  .hero-content {
    order: 1;
    flex: 1;
    text-align: left;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hero-visual {
    order: 2;
    flex: 1.5;
    height: 100vh;
    object-fit: cover;
  }

  .cta-actions {
    align-items: flex-start;
  }
}

/* Marquee */
.marquee-window {
  width: 100%;
  overflow: hidden;
  background: #333;
  color: white;
  padding: 10px 0;
  white-space: nowrap;
  position: absolute;
  z-index: 9999;
}

.marquee-content {
  display: inline-block;
  animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}


.marquee-content:hover {
  animation-play-state: paused;
}


/* 



.marquee {
  overflow: hidden;
  white-space: nowrap;
}

.track {
  display: inline-flex;
  gap: 100px;
  animation: scroll 20s linear infinite;
}

.track img {
  height: 40px;
}

@keyframes scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
} */