.scene {
  width: 500px;
  height: 350px;
  perspective: 1200px;
  margin: 150px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 40px 0;
}

/* .gradient-text {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;

  background: linear-gradient(
    to right, 
    #001020, 
    #00ff88, 
    #003d7e, 
    #00ff88
  );
  background-size: 300% auto;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shimmer 5s linear infinite;
}

@keyframes shimmer {
  0% { background-position: 0% center; }
  100% { background-position: 300% center; }
} */

/* Responsiveness */
@media (max-width: 768px) {
  .gradient-text {
    font-size: 2.5rem;
  }
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1);
}

.carousel__item {
  position: absolute;
  width: 420px;
  height: 280px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #00000036;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  border-radius: 15px;
}

.carousel__item:nth-child(1) { transform: rotateY(0deg) translateZ(400px); }
.carousel__item:nth-child(2) { transform: rotateY(60deg) translateZ(400px); }
.carousel__item:nth-child(3) { transform: rotateY(120deg) translateZ(400px); }
.carousel__item:nth-child(4) { transform: rotateY(180deg) translateZ(400px); }
.carousel__item:nth-child(5) { transform: rotateY(240deg) translateZ(400px); }
.carousel__item:nth-child(6) { transform: rotateY(300deg) translateZ(400px); }

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
  cursor: grab;
}

.carousel.grabbing {
  transition: transform 0.1s linear;
  cursor: grabbing;
}

.btn-action {
  position: relative;
  z-index: 50;
  pointer-events: auto;
}

.card-content1 {
    background-image: url(/assets/1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.card-content2 {
    background-image: url(/assets/2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.card-content3 {
    background-image: url(/assets/3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.card-content4 {
    background-image: url(/assets/4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.card-content5 {
    background-image: url(/assets/5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.card-content6 {
    background-image: url(/assets/6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.text-container{
  padding-top: 50px;
}

.ghost-text {
  position: relative;
  font-size: 4rem;
  font-weight: 900;
  color: #0e172a;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  z-index: 1;
  text-align: center;
}

.ghost-text::before {
  content: attr(data-text);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  color: transparent;
  -webkit-text-stroke: 1px rgba(125, 125, 125, 0.224);
  
  transform: scale(1.25);
}