.carousel-item {
    transition: transform 1.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.ghost-text {
  position: relative;
  font-size: 4rem;
  font-weight: 900;
  color: #011a32;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  z-index: 1;
  text-align: center;
}

.ghost-text::before {
  content: attr(data-text);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  color: transparent;
  -webkit-text-stroke: 1px rgba(125, 125, 125, 0.224);
  
  transform: scale(1.25);
}

.testimonial-card {
  background: #011a32;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 220px;
  border: none !important;
}

.client-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #6366f1;
}

.carousel-indicators {
  position: relative;
  bottom: -30px;
}

.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6366f1;
}