
.bg-dark {
  background-color: #1a1a1a !important; 
}

form{
  align-items: center;
}

.form-control:focus {
  background-color: #2a2a2a;
  color: white;
  border-color: #d4af37;
  box-shadow: 0 0 0 0.25rem rgba(212, 175, 55, 0.25);
}

:host {
  display: block;
  height: fit-content;
  overflow: hidden;
}