/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');
/* @import url('node_modules/bootstrap/dist/css/bootstrap.min.css'); */
/* @import url('node_modules/bootstrap-icons/font/bootstrap-icons.css'); */

*{
  font-family: 'Montserrat', sans-serif;
}
